{% extends "base2.html" %}

{% block content %}

{% if search_results %}

<a href="#" class="_2ZTFcL34">
{% if original_file != '' %}
<div class="_2b3gfU6p">
<span class="_1sZ8iWv1">Показано ({{ similar_numbers }}) похожих на </span>
</div>
<div class="eSkxaJzh">
    <img src="{{ original_file }}" class="img-cover">
</div>
{% else %}
<div class="_2b3gfU6p">
<span class="_1sZ8iWv1">Показано ({{ similar_numbers }}) подходящих по описанию</span>
<!--span class="_2f6vPPm-">{{ sentence_data }}</span> -->
</div>
{% endif %}
</a>

{% for document in search_results %}
<a href="https://www.florist.ru/bouquet-{{ document.fields.article[0] }}" class="_2ZTFcL34">
<div class="eSkxaJzh">
<img src="{{ document.fields.img_url[0] }}" class="img-cover" alt="{{ document.fields.image_name[0] }}">
</div>

<div class="_2b3gfU6p">
<span class="_1sZ8iWv1">{{ document.fields.image_name[0] }}</span>
<span class="_2f6vPPm-">{{ document.fields.article[0] }}</span>
</div>
</a>
{% endfor %}

{% endif %}

{% endblock %}